

body {

padding: 2em;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}


.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

 .flex-item-1 {
    width: 940px;
    height: 160px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
.navbar  {

  text-align: center;
}

.navbar a {
  font-size: 2.5em;
  color: lightblue;
  margin-right: 2em;
  margin-left: 2em;
  text-decoration: none;
  /*text-align: center;*/
}

.navbar a:hover {
  color: yellow;

  /*text-align: center;*/
}

main {
  height:auto;
  width:100%;
  padding: 1.5em;
  background-color: rgba(247,234,200,0.3) ;
  z-index: -1;
}
.repo-link {
  text-decoration: none;
}
.repo-link div {
padding: 0.5em;
background-color: rgba(203,187,88,0.4);
text-decoration: none;
}
.repo-link h2 {
  color:black;
  text-decoration: none;
}

.repo-link a {
  color:black;

}
.repo-link li {
  padding: 0.5em;
  background-color: rgba(203,187,88,0.4);
  text-decoration: none;


}

/*main .main-wrapper {
  opacity: 0.7;
}*/

/*.repo-wrapper {
  margin-left: 3em;
  display: flex;
}
.repo-wrapper .repo-link {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;

}*/
