@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400');

body {
  margin: 40px;
  background: black;
  color: limegreen;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 1em; 
}

li {
  margin-bottom: 1em;
}

img {
  width: 150px;
  height: 150px;
  border-radius: .5em;
}

a {
  color: limegreen;
  text-decoration: none;
}

a:hover {
  color: lightyellow;
}

a:visited {
  color: green;
  text-decoration: none;
}

.input {
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  background: lightyellow;
}

.button {
  font-weight: bold;
  border-radius: 3px;
  background-color: limegreen;
}

