<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doggies and Kitties</title>
</head>
<body>
  <section data-ng-controller="KittyController as kittyCtrl">
    <h1>Kitty List</h1>
    <section data-ng-repeat="kitty in kittyCtrl.kitties">
      <p>Name: {{kitty.name}}</p>
      <p>Breed: {{kitty.breed}}</p>
      <p>Color: {{kitty.color}}</p>
    </section>
    <form>
      <p>
        Add (or change) your favorite kitty:
      </p>
      <input type="text" ng-model="kittyCtrl.newKitty">
      <input type="submit" ng-click="kittyCtrl.changeFaveKitty(kittyCtrl.newKitty)">
    </form>
    <div>
      <p>My favorite kitty is: {{kittyCtrl.showFaveKitty()}}</p>
      <p>My favorite doggie is: {{kittyCtrl.showFaveDoggie()}}</p>
    </div>
  </section>
  <section data-ng-controller="DoggieController as doggieCtrl">
    <h1>Doggie List</h1>
    <section data-ng-repeat="doggie in doggieCtrl.doggies">
      <p>Name: {{doggie.name}}</p>
      <p>Breed: {{doggie.breed}}</p>
      <p>Color: {{doggie.color}}</p>
    </section>
    <form>
      <p>
        Add (or change) your favorite doggie:
      </p>
      <input type="text" ng-model="doggieCtrl.newDoggie">
      <input type="submit" ng-click="doggieCtrl.changeFaveDoggie(doggieCtrl.newDoggie)">
    </form>
    <div>
      <p>My favorite kitty is: {{doggieCtrl.showFaveKitty()}}</p>
      <p>My favorite doggie is: {{doggieCtrl.showFaveDoggie()}}</p>
    </div>
  </section>
  <script type="text/javascript" src="./bundle.js"></script>
</body>
</html>
